html {
  scroll-behavior: smooth;
}

body {
  background-color: #407076;
}

/* Container */

/* NAV */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
  padding: 10px;
  margin-bottom: 15px;
}

.nav-home {
  margin-left: 30px;
  color: #97b1a6;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
}

.nav-link {
  color: #97b1a6;
  text-decoration: none;
  margin-right: 15px;
}

.nav-link:hover {
  cursor: pointer;
  color: grey;
}

/* HERO */
.hero-container {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.hero-left {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
}

.portfolio-info div {
  margin-bottom: 10px;
  padding-right: 5rem;
  padding-left: 5rem;
}

.portfolio-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: xx-large;
}

.hero-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.profile-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.hero-social-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.hero-social-container .social-icon {
  height: 4rem;
  width: 4rem;
}

.highlight {
  background-color: rgba(30, 180, 200, 0.4);
}

.skills {
  align-self: flex-start;
  justify-self: flex-end;
  width: 100%;
}

.skill-row {
  display: flex;
  text-align: right;
}

.skills-div {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

.skill:hover {
  background-color: #ebbab9;
  cursor: pointer;
  transform: scale(1.1);
}

.bold {
  font-weight: 900;
  min-width: 130px;
  padding-right: 10px;
}

.overlay {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 85%;
  height: 85%;
  background-color: rgb(63, 161, 161);
  border-radius: 16px;
  z-index: 10;
}
.modalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.modalClose {
  text-align: right;
}

.modalClose p {
  padding: 3px;
  border: 1px solid black;
  display: inline-block;
  margin: 8px;
  border-radius: 3px;
}

.modalTitle {
  justify-self: center;
  align-self: center;
  font-size: 50px;
}

.modalGif {
  width: 100%;
  align-self: center;
  justify-self: center;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

.modalSummary {
  justify-self: center;
  align-self: center;
  font-size: x-large;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.modalTech {
  justify-self: center;
  align-self: center;
  font-size: x-large;
  margin-right: 50px;
  margin-left: 50px;
}

/* Projects */
.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  flex-wrap: nowrap;
}

.card-carousel {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  color: #ecf0f1;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #2c3e50;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: 400px;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 2px rgb(87, 86, 83);
  text-align: start;
  background-color: #ebbab9;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.75s;
  transition: ease-in;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 25px;
  margin-bottom: 15px;
  color: black;
}

.card-sum {
  margin-bottom: 15px;
  align-self: center;
  justify-self: center;
  height: 50%;
}

.card-tech {
  height: 33%;
  justify-self: end;
}

.card-title,
.card-sum,
.card-tech {
  color: black;
}

.section-header {
  font-size: 30px;
  margin-bottom: 10px;
}

/* FOOTER */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
  padding: 10px;
  margin-bottom: 25px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.footer-left div,
.footer-right div {
  padding: 10px;
}
